@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  --white:#fff;
  --black:#000;
  --green:#1E633F;
  --lightgreen:#3DCA72;
  --lightgray:#F9F9F9;
  --lightblack:#aba9a9fb;
  --red:#DB2114;
  --orange:#F66D44;
  --transition:all 0.3s linear;
  background-color:var(--lightgray);
  color:var(--black);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,button {
  all: unset;
}

.container{
  width:90%;
  margin: auto;
}

/* navigation bar styling */
.nav-container{
  background-color:var(--green);
  color:var(--white);
  display: flex;
  padding:0.5rem 0;
  justify-content:space-between;

  & .nav-items{
    display: flex;
    width: 50%;
    justify-content: space-around;
    
    @media (max-width:768px) {
      width: min(30%,50%);
    }
    & .logo-items{
      font-size: xx-large;
      cursor: pointer;
    }

    & .nav-links{
      display: none;

      @media (min-width: 768px) {
        display: flex;
        justify-content: space-around;
        width: 50%;
        align-items: center;
        list-style: none;
        
      }

      & a{
        text-transform: capitalize;
        color:var(--white);
        text-decoration: none;
      }
    }

  }

  & .checkout-container{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-around;

    @media (max-width: 768px) {
      gap:1rem;
      width: max-content;
    }

    & .cart-container{
      position: relative;
      
      & .item-number{
      position: absolute;
      top:-0.6rem;  
      left:-0.5rem;
      background-color: var(--lightgreen);
      padding:0.15rem 0.2rem;
      font-size: 0.7rem;
      border-radius: 100%;
      color: var(--white);
    }
    }
  }
  & .burger-menu{
    display:none ;

    @media (max-width: 768px) {
      display: flex;
      align-items: center;
      padding: 0.1rem 0.5rem;
      margin-right: 1rem;
      border-radius: 10%;
      background-color: var(--lightgreen);
      cursor: pointer;
    }
    :hover{
      scale: 1.1;
    }
  }
}

.light-button{
  border:2px solid var(--green);
  color: var(--green);
  background-color: var(--white);
  border-radius: 1rem;
  padding:0.4rem 0.8rem;
  font-weight: bolder;
  cursor: pointer;
}

.focus-button{
  border:2px solid var(--green);
  color: var(--white);
  background-color: var(--green);
  border-radius: 1rem;
  padding:0.4rem 0.8rem;
  font-weight: bolder;
  cursor: pointer;
}


/* order header styling */

.order-header{
  background-color: var(--white);
  margin:1rem 0;
  box-shadow:0px 9px 5px 0px #e0e0e0;



  & .order-dir{
    display: flex;
    gap:0.5rem;

    & span{
      padding: 0.5rem;
    }
  }

  & .order-approval{
    display: flex;
    padding:0.5rem 0;
    justify-content: space-between;
    
    & .order-button{
      cursor: pointer;
      display: flex;
      gap:0.5rem;
    }
  }

  @media (max-width:768px) {
    font-size: small;
  }
  @media (max-width:480px) {
    font-size: x-small;
  }
}

/* delivery details */
  .details-container{
    display: flex;
    font-size: small;
    justify-content: space-around;
    gap:0.2rem;
    padding:1rem;
    background-color: var(--white);
    border:2px solid var(--lightblack);
    border-radius: 5px;

    & section:nth-child(1){
      max-width: 20%;
    }
    & section>p{
      color:var(--lightblack);
      font-weight:500;
    }
    & .vertical-line{
      width:0.1rem;
      display:table-cell;
      background-color:var(--lightblack);
    }

    & .order-category{
      display:grid;
      grid-template-columns: repeat(4,1fr);
      gap:0.5rem;

      & h6{
        font-size:1.2rem;
      }
      @media (max-width :768px) {
        font-size: x-small;
      }
    }

    @media (max-width:768px) {
      font-size: xx-small;
    }
  }


  /* search styling */
.search-container{
  display: flex;
  justify-content: space-between;
  
  & form{
    width:40%;
    padding: 0.25rem 0.5rem;
    border:0.1rem solid var(--lightblack);
    display: flex;
    align-items: center;
    border-radius: 20px;
    
  }
  & input[type="search"] {
    border: none;
    padding:0.25rem;
    width:95%;
    background: transparent;
    border-radius: inherit;
  }

  & .search-button{
    border:none;
    background: transparent;
    border-radius: inherit;
    font-size: large;
    cursor: pointer;
    margin-top:0.1rem;
    color:var(--lightblack);
  }
  
  & .add-print-section{
    display: flex;
    gap:1rem;
    cursor: pointer;

    & .printer-icon{
      font-size: x-large;
      color: var(--green);
      
    }
  }

  @media (max-width:768px) {
    font-size: small;
  }
}

/* product header styling */
.products-header{
  margin-top:2rem;
  display: grid;
  grid-template-columns:2fr repeat(4,1fr) 1.5fr;
  justify-items: center;
  column-gap: 0.2rem;
  border:2px solid var(--lightblack);
  padding:0.5rem;
  color: var(--lightblack);
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  text-transform: capitalize;

  @media (max-width:768px) {
    font-size: small;
  }
}


/* product container styling */

.product-container{
  display: flex;
  flex-direction: column;
  margin-top:1rem;
  gap:0.2rem;
  padding:1rem;
  background-color: var(--white);
  border:2px solid var(--lightblack);
  border-radius: 5px;
} 


  /* single product styling */
.product{
  display:grid;
  grid-template-columns:2fr repeat(4,1fr) 1.5fr;
  justify-items:center;
  align-items: center;
  column-gap: 0.5rem;
  padding:1.5rem;
  font-size: normal;

  & .product-info{
    display:flex;
    gap:0.5rem;
  }

  & .quantity-info{
    font-weight: bold;
  }

  @media (max-width:768px) {
    font-size: xx-small;
  }
  @media (max-width:1024px) {
    font-size:small;
  }
}

.horizontal-line{
  height: 0.15rem;
  background-color:var(--lightblack);
}


/* status dynamic styling */
.is-approve{
  background-color:var(--lightgreen);
}
.is-missing{
  background-color:var(--orange);
}
.is-urgent-missing{
  background-color:var(--red);
}


.status-info{
  width:min(50%,100%);
  display: flex;
  align-items:center;
  gap:0.5rem;
  margin-left: 0.5rem;
  justify-content:space-around;

  & button{
    padding:0.1rem 0.2rem;
    cursor: pointer;

  :hover{
    background-color:var(--lightblack);
    border-radius: 10%;
    padding:0.1rem 0.2rem;
    }
  }

  & .main-status{
    color: var(--white);
    border-radius: 1rem;
    padding:0.3rem 0.6rem;
    font-size:small;
    display: flex;
    align-items: center;
  }
}

/* previous value styling */

.prev-value{
  display: block;
  position:absolute;
  text-decoration: line-through;
  opacity: 0.5;
}




/* modal styling */

.modal-overlay {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0, 0, 0, 0.584);
  display: grid;
  place-items: center;
  transition: var(--transition);
  visibility:hidden;
  z-index: -1;
}

.show-modal{
  visibility:visible;
  z-index: 10;
}

.modal-container{
  background-color:var(--white);
  border-radius:10px;
  color: var(--black);
  width: min(30vw,100%);
  height:min(30vh,100%);
  max-width:48rem;
  text-align: center;
  padding: 1rem;
  display: grid;
  place-items: center;
  position: relative;

  @media (max-width:768px) {
    font-size: small;
  }
}

.decision-modal{
  display:flex;
  justify-content:flex-end;
  gap:2rem;
  padding:0 1rem;
  width: 100%;
  cursor: pointer;
}

.modal-cross{
  position: absolute;
  top:1rem;
  right:1rem;
  cursor: pointer;
}

/* editing modal */

.edit-modal-container{
  background-color:var(--white);
  border-radius:10px;
  color: var(--black);
  width: min(80%,100%);
  max-width:48rem;
  padding: 2rem;
  display: grid;
  font-size: small;
  position: relative;

  & section>h3, h3>span{
    color:var(--lightblack);
  }

  @media (max-width:768px) {
    font-size: x-small;
  }
}

.reason-modal{

  & .reason-list{
    margin-top: 0.5rem;
    display: flex;
    gap:0.5rem;
    align-items: center;
  }
  & .reason-info{
    border:2px solid var(--lightblack);
    border-radius: 1rem;
    font-size: smaller;
    padding:0.25rem 0.5rem;
    cursor: pointer;
  }
}

.edit-modal{
  display: flex;
  width: 80%;
  justify-content:space-around;
  margin: 1rem 0;

  & .edit-change{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
  }


  & input[type="number"] {
    padding:0.5rem;
    margin: 0.5rem;
    border:2px solid var(--lightblack);
    max-width:6rem;
    border-radius: 10px;

    @media (max-width:768px) {
      max-width: 4rem;
    }
  }
}

.decision-button{
  display: flex;
  justify-content:flex-end;
  gap:1rem;
  padding:0.25rem 0.5rem;
}

.edit-modal-cross{
  position: absolute;
  top:1rem;
  right:1rem;
  cursor: pointer;
}

.update-button{
  padding:0.3rem 0.3rem 0 0.3rem;
  background-color:var(--lightgreen);
  color:var(--white);
  border-radius: 100%;
}

label>span{
  margin-right:3.2rem;
}


/* add item styling */
.add-container{
  position: relative;
}

.add-item-cross{
  position:absolute;
  top:1rem;
  right:1rem;
  cursor: pointer;
}